html {
    background: url("Images/Space.webp") center no-repeat fixed;
    background-size: cover;
}

body {
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
    padding: 50px 100px;
    margin: 25px auto;
    border-radius: 25px;
    font-family: monospace;
}

#Magic8Ball:hover {
    cursor: pointer;
}

#result {
    color: green;
}