html {
    background: url("Images/ClashBackground.webp") center no-repeat fixed;
    background-size: cover;
}

body {
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
    padding: 50px 100px;
    margin: 25px auto;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center
}

h1 {
    font-size: 30px;
}

#RoyalRecruitsCard {
    width: 105px;
}

#RoyalHogsCard {
    width: 100px;
}

#ZappiesCard {
    width: 105px;
}

#FireballCard {
    width: 105px;
}

#IceSpiritCard {
    width: 105px;
}

#GoblinCageCard {
    width: 100px;
}

#FlyingMachineCard {
    width: 100px;
}

#BarbarianBarrelCard {
    width: 100px;
}